*{
    margin:0;
    padding:0;
}
.wh64{
    width:64px;
    height:64px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.mar_t15{
    margin-top:15px;
}
footer{
    font-weight: 400;
    text-align: center;
    padding:20px 0;
}